* {
    margin: 0;
    padding: 0;
}

body {
    background-color: blue;
}

header {
    text-align: center;
    padding: 20px;
    color: white;
}

main {
    text-align: center;
    padding: 10px;
}

.container {
    background-color: white;
    display: inline-block;
    padding: 20px;
    border-radius: 10px;
    text-align: left;
    box-shadow: 10px 10px darkblue;

}

li {
    list-style: none;
}

.btn1 {
    padding: 2px 5px 2px 5px;
}

.btn2 {
    padding: 2px 5px 2px 5px;
}
.areaoutput {
    border: 1px solid black;
    border-radius: 10px;
    width: 100%;
    height: 250px;
    margin-top: 15px;
    margin-bottom: 15px;

}

form {
    margin-bottom: 15px;
}